body{
    margin:4%;
    background-color: #161B22;
    color: #C9D1D9;
    font-family: "andale mono", monospace, sans-serif;
}
.columnFlexbox{
    display: flex;
    flex-direction: column;
}
.rowFlexbox{
    display: flex;
    flex-direction: row;
}
.border{
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #161B22;
    transition: 0.35s ease-in-out 0.2s;
}
.border:hover{
    border-color: #3a4047;
    /* border-style: solid;
    border-width: 2px; */
    transition: 0.25s ease-in-out 0s;
}
.contentBorder{
    margin: 0 5px;
}
#profileImage{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #0A0A4A;
}
.sideImage{
    height: 60px;
    width: 60px;
}
.mainbar{
    margin-left: 150px; 
}
.sidebar{
    /*height: 80%;*/
    width: 120px;
    background-color:#3a4047;
    position: fixed;
    overflow-x: hidden;
}
.customHeader{
    font-weight: bold;
}
a{
    text-decoration: none;
    color:#C9D1D9 ;
}
a:hover{
    color:beige;
}
hr{
    border: 1px solid #C9D1D9;
}
